@model StockManagement.Models.SalesDetailsModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>SalesDetailsModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Manufacturedate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Manufacturedate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Expirydate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Expirydate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SID.SalesModedID)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PID.PurchaseDescription)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CID.CustomerAddress)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="SalesDetailsID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
