@model StockManagement.Models.SalesModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>SalesModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SalesDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SalesDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CID.ProductDescription)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.SalesModedID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
