@model StockManagement.Models.PurchaseDetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PurchaseDetailsModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PID.ProductDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PDID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PDID.PurchaseDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PurchaseQuantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PurchaseQuantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PurchasePrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PurchasePrice)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.PurchaseDetailID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
